before_install:
    - sudo add-apt-repository ppa:texlive-backports/ppa -y
    - sudo apt-get update -q

install:
    - sudo apt-get install -y texlive texlive-lang-german texlive-latex-extra texlive-bibtex-extra texlive-science
    - sudo apt-get install -y chktex
 
script:
    - make
    - chktex -W # Print version information.
    - chktex -q -n 6 *.tex chapters.*.tex 2>/dev/null | tee lint.out
